.style-input {
    background-color: rgb(245, 248, 248);
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid rgb(95, 99, 99);
}

.style-description {
    background-color: rgb(245, 248, 248);
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid rgb(95, 99, 99);
    height: 100px;
    resize: vertical;
}

.style-inputImage {
    /* background-color: aqua; */
    cursor: pointer;
    margin-top: 3px;
    margin-left: 3px; 
    
    width: 500px; 
}

[type="file"] {
  border: none
  
}

